<div>
    <app-area></app-area>
</div>
<mat-divider></mat-divider>
<!-- cards -->
<div class="card" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <mat-card fxFlex="25">
        <mat-card-content>
            <app-cards></app-cards>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="25">
        <mat-card-content>
            <app-cards></app-cards>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex="25">
        <mat-card-content>
            <app-cards></app-cards>
        </mat-card-content>
      </mat-card>
      
</div>

<div>
    <app-table></app-table>
</div>
<div>
    <app-pie></app-pie>
</div>

