<mat-list role="list">
    <div class="profile">
        <div>
            <h2>Mohammed Falah</h2>
            <h4>falahmkba@gmail.com</h4>

        </div>
        <img src="https://images.unsplash.com/photo-1661956602139-ec64991b8b16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxzZWFyY2h8MXx8Y29udGVudHxlbnwwfHwwfHw%3D&w=1000&q=80" alt="no image">
    </div>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Pages</h2>
    <mat-list-item ><a routerLink=''>Dashboard</a></mat-list-item>
    <mat-list-item ><a routerLink='/posts'>Post</a></mat-list-item>
    <mat-list-item ><a routerLink=''>Article</a></mat-list-item>
    <mat-divider></mat-divider>
    <h2 mat-subheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon> &nbsp; contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon> &nbsp; Leads
    </a>


    


</mat-list>
        
       

    
    
  
